language: csharp
sudo: false
dist: trusty
mono: latest
dotnet: 2.2.5

before_install:
  - nvm install 11.13.0
  - nvm use 11.13.0
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.15.2
  - export PATH=$HOME/.yarn/bin:$PATH
cache:
  yarn: true

script:
  - ./fake.sh build -t BuildDocs
