source https://www.nuget.org/api/v2
storage:none

nuget Fable.Core prerelease
nuget Fable.Elmish prerelease
nuget Fable.Elmish.HMR prerelease
nuget Fable.Elmish.React prerelease
nuget Fable.Elmish.Browser prerelease
nuget Fable.Elmish.Debugger prerelease
nuget Fable.Fetch prerelease
nuget Fable.Promise prerelease
nuget Fable.Date prerelease
nuget Fable.React prerelease
nuget Thoth.Elmish.Toast prerelease
//Fulma for docs to get it compiled until it is changed
nuget Fulma prerelease
nuget Fable.FontAwesome.Free
nuget Fable.Template.Fulma.Minimal prerelease
nuget Fulma.Extensions prerelease
nuget Fulma.Elmish prerelease
nuget Fulma.Extensions.Wikiki.Calendar prerelease
nuget Fulma.Extensions.Wikiki.Checkradio prerelease
nuget Fulma.Extensions.Wikiki.Divider prerelease
nuget Fulma.Extensions.Wikiki.Slider prerelease
nuget Fulma.Extensions.Wikiki.PageLoader prerelease
nuget Fulma.Extensions.Wikiki.Switch prerelease
nuget Fulma.Extensions.Wikiki.Quickview prerelease
nuget Fulma.Extensions.Wikiki.Tooltip prerelease


group netcorebuild
    storage:none
    source https://www.nuget.org/api/v2
    framework: netstandard2.0

    clitool dotnet-fake
    nuget NETStandard.Library.NETFramework
    nuget Fake.DotNet.Cli
    nuget Fake.DotNet.Paket
    nuget Fake.Core.Target
    nuget Fake.Core.Process
    nuget Fake.Core.String
    nuget Fake.Core.ReleaseNotes
    nuget Fake.IO.FileSystem
    nuget Fake.Tools.Git
    nuget Fake.JavaScript.Yarn
